.alert-body {
    position: absolute;
    margin-top: 20vh;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
    max-height: 80vh;
    width: 50%;
    min-width: 300px;
    z-index: 3000;
    opacity: .9;
    font-size: calc(8px + .5vw);
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .92;
    z-index: 2000;
}

