.boardcell {
    z-index: 0;
    cursor: pointer;
}
.boardcell:hover { background-color: #efefef; }
.winningcell { background-color: #f7b5b5 !important; }
.winningcell:hover { background-color: #e6a1a1 !important; }

